code.terminal {
    display: block; 
    white-space: pre-line;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.bold {
    font-weight: 900;
}

code.file {
    display: block; 
    white-space: pre-line;
    width: 100%;
    height: 100%;
    padding: 20px;
}

section {
    margin: 20px 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Century Gothic";
}

h1 {
    margin-bottom: 12px;
    font-weight: 900;
}

h2 {
    margin-bottom: 8px;
    font-weight: 600;
}

h3 {
    margin-bottom: 4px;
    font-weight: 600;
}

p {
    line-height: 1.4em;
    font-size: 1.1em;
    padding: 10px 0;
}

a {
    font-weight: 600;
}

li {
    font-size: 1.25em;
    font-weight: 600;
}

table {
    width: 100%;
}



td {
    width: 50%;
}

table.col3 td {
    width: 33.33%;
}

caption h3 {
    font-weight: 900;
    margin-bottom: -8px;
}